.cdx-attaches {
  &--with-file {
    display: flex;
    padding: 13px 30px;
    border: 1px solid #e5e6ec;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03);

    ^&__extension {
      text-transform: uppercase;

      &:not(:last-child) {
        &::after {
          content: ',';
          margin-right: 0.2em;
        }
      }
    }

    ^&__size {
      &::after {
        content: 'KB';
        margin-left: 0.2em;
      }
    }

    ^&__title {
      justify-content: flex-start;
      flex-grow: 8;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      cursor: default;
      outline: none;
    }
  }

  &--loading {
    ^&__title, ^&__extension, ^&__size {
      opacity: 0;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      height: 14px;
      margin-top: 0;
    }

    &:hover {
      color: #393f52;
    }
  }
}
