.cdx-attaches {
  &--with-file {
    display: flex;
    padding: 13px 20px;
    border: 1px solid #e6e9eb;
    border-radius: 3px;
    background: #fff;

    ^&__file-info {
      flex-grow: 8;
      max-width: calc(100% - 80px);
    }

    ^&__download-button {
      display: flex;
      align-items: center;
      margin-right: 7px;

      svg {
        fill: #7b7e89;
      }
    }

    ^&__file-icon {
      margin-right: 20px;
      position: relative;

      &::before {
        position: absolute;
        bottom: 7px;
        left: 8.5px;
        font-size: 8px;
        font-weight: 900;
        text-transform: uppercase;
        background: #fff;
        line-height: 150%;
        content: attr(data-extension);
      }
    }

    ^&__size {
      color: #7b7e89;

      &::after {
        content: 'kiB';
        margin-left: 0.2em;
      }
    }

    ^&__title {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      outline: none;
      max-width: 90%;
    }
  }

  &--loading {
    ^&__title,
    ^&__file-icon,
    ^&__size,
    ^&__download-button {
      opacity: 0;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      height: 14px;
      margin-top: 0;
      margin-right: 8px;
    }

    &:hover {
      color: #393f52;
    }
  }
}
