.cdx-attaches {
  &--with-file {
    display: flex;
    flex-direction: column;
    padding: 13px 30px;
    border: 1px solid #e6e9eb;
    border-radius: 3px;
    background: #fff;

    ^&__extension {
      text-transform: uppercase;
      display: none;

      &:not(:last-child) {
        &::after {
          content: ',';
          margin-right: 0.2em;
        }
      }
    }

    ^&__size {
      display: block;
      color: #7b7e89;
      &::after {
        content: 'kiB';
        margin-left: 0.2em;
      }
    }

    ^&__title {
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      cursor: default;
      outline: none;
    }
  }

  &--loading {
    ^&__title, ^&__extension, ^&__size {
      opacity: 0;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      height: 14px;
      margin-top: 0;
      margin-right: 8px;
    }

    &:hover {
      color: #393f52;
    }
  }
}
