.cdx-attaches {
  &--with-file {
    display: flex;

    ^&__extension {
      text-transform: uppercase;

      &::after {
        content: ',';
        margin-right: 0.2em;
      }
    }

    ^&__size {
      &::after {
        content: 'KB';
        margin-left: 0.2em;
      }
    }

    ^&__title {
      text-align: left;
      cursor: default;
      outline: none;
    }
  }

  &--loading {
    ^&__title, ^&__extension, ^&__size {
      opacity: 0;
    }
  }

  &__title {
    flex-grow: 8;

    svg {
      margin-bottom: 0px;
      margin-top: 2px;
    }

    &:hover {
      color: #393f52;
    }
  }
}
